body {
  margin: 0%;
  width: 100vw;
  font-family: "M PLUS Rounded 1c", sans-serif;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  padding: 3rem;
  align-items: center;
}

.start-nav > li {
  list-style: none;
  font-size: 32;
  color: rgb(0, 0, 0, 0.783);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 1.5;
  word-spacing: 2;
}

span {
  font-family: "Satisfy", cursive;
  color: rgb(239, 255, 19);
  letter-spacing: 3;
  font-size: 3rem;
}
.end-div > a {
  float: left;
  margin-left: 1.2rem;
  list-style: none;
  position: relative;
  left: 100%;
}

.end-div {
  margin-left: 50%;
  position: fixed;
}

i {
  width: 3rem;
  padding: 3px;
  color: black;
  font-size: 33;
}

i:hover {
  color: rgb(239, 255, 19);
}

.container {
  width: 100%;
  height: 170%;
  background-image: url("./1.jpg");
  background-repeat: no-repeat;
  background-position: center -52px;
  background-size: cover;
  z-index: -1;
}

.aside-body {
  position: absolute;
  z-index: 1;
  width: 15vw;
  height: 75vh;
  background-color: rgba(128, 128, 128, 0.188);
  bottom: -5%;
  padding: 15px;
  left: 165px;
}

.aside-body ul li {
  list-style: none;
  margin-top: 52px;
  font-size: 23;
  color: rgba(255, 255, 255, 0.579);
  text-decoration: none;
  font-weight: 700;
  padding: 10px;
}
.aside-body ul li:hover {
  background-color: rgba(255, 255, 255, 0.353);
  color: yellow;
  width: fit-content;
}

.fa-rectangle-xmark {
  color: rgba(128, 128, 128, 0.789);
  font-size: 37;
}

.aside-body ul a {
  text-decoration: none;
}

#heading-main {
  width: 37vw;
  position: relative;
  left: 60%;
  top: 10px;
  font-size: 4.5rem;
  line-height: 72px;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.379);
  animation-name: greeting;
  animation-duration: 7s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  transition: color 500ms ease-in;
}

.fa-solid {
  position: relative;
  right: 260px;
  top: 50px;
  cursor: pointer;
}

#heading-main:hover {
  color: rgba(255, 255, 255, 0.888);
}

@keyframes greeting {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

#footer{
    position: absolute;
    background-color: rgba(128, 128, 128, 0.384);
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42;
    font-weight: 900;
    z-index: 1;
    bottom: -70%;
    color: rgba(255, 255, 255, 0.529);
    display: flex;
    flex-direction: column;
}


#name-nav{
    color: rgba(255, 255, 255, 0.686);
    transition: color 500ms;
}

#name-nav:hover{
    color: white;
}